<div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <label>
            id
            <input type="text" formControlName="id">
        </label>
        <br>
        <label>
            restaurant id
            <input type="text" formControlName="rest_id">
        </label>
        <br>  
        <label>
            name
            <input type="text" formControlName="name">
        </label>
        <br>
        <label>
            image-Link
            <input type="text" formControlName="link">
        </label>
        <br>
        <label>
            description
            <input type="text" formControlName="desc">
        </label>
        <br>
        <label>
            price
            <input type="text" formControlName="price">
        </label>
        
    
        <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>
</div>