<form [formGroup]="profileForm" (ngSubmit)="onUpdate(_restUpdate)">
    <label>
        id
        <input matInput type="text" formControlName="id" [(ngModel)]="_restUpdate.id">
    </label>
    <br>
    <label>
        name
        <input matInput type="text" formControlName="name" [(ngModel)]="_restUpdate.name">
    </label>
    <br>
    <label>
        image-Link
        <input matInput type="text" formControlName="link" >
    </label>
    <br>
    <label>
        city
        <input matInput type="text" formControlName="city">
    </label>
    <br>
    <label>
        Langitude
        <input matInput type="text" formControlName="lng">
    </label>
    <br>
    <label>
        Latitude
        <input matInput type="text" formControlName="lat">
    </label>
    <br>
    <label>
        street
        <input matInput type="text" formControlName="street">
    </label>
    <br>
    <button mat-raised-button type="submit" >Submit</button><br>
</form>


