<div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <label>
            id
            <input type="number" min="0" formControlName="id">
        </label>
        <br>
        <label>
            name
            <input type="text" maxlength="40" formControlName="name" >
        </label>
        <br>
        <label>
            image-Link
            <input  type="text" formControlName="link">
        </label>
        <br>
        <label>
            city
            <input  type="text" formControlName="city">
        </label>
        <br>
        <label>
            Langitude
            <input type="number" min="0" formControlName="lng">
        </label>
        <br>
        <label>
            Latitude
            <input  type="number" min="0" formControlName="lat">
        </label>
        <br>
        <label>
            street
            <input  type="text" formControlName="street">
        </label>
        <br>
        <button type="submit"  [disabled]="!profileForm.valid">Submit</button>
    </form>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Image Link</th>
                <th scope="col">City</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rest of reslis">
                <th scope="row">{{rest.id}}</th>
                <td>{{rest.name}}</td>
                <td>{{rest.image}}</td>
                <td>{{rest.city}}</td>
                <td><button type="button" class="btn btn-primary" mat-button ()="openDialog(rest)">Update</button></td>
                <td><button type="button" class="btn btn-danger" ()="delete(rest)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>