<div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <label>
            restaurant id
            <input type="number" min="0" formControlName="rest_id">
        </label>
        <br>  
        <label>
            name
            <input type="text" maxlength="50" formControlName="name">
        </label>
        <br>
        <label>
            image-Link
            <input type="text" formControlName="image">
        </label>
        <br>
        <label>
            description
            <input type="text" formControlName="descr">
        </label>
        <br>
        <label>
            price
            <input type="number" min="0" formControlName="price">
        </label>
        
    
        <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">RestID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Price</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of menuItem">
                <th>{{list.rest_id}}</th>
                <td>{{list.name}}</td>
                <td>{{list.descr}}</td>
                <td>{{list.image}}</td>
                <td>{{list.price}}</td>
                <td><button type="button" class="btn btn-primary" mat-button (click)="openDialog(list)">Update</button></td>
                <td><button type="button" class="btn btn-danger" (click)="delete(list.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>