<div class="card" style="width: 22rem;">
  <img class="card-img-top" [src]='_restaurant.image' alt="restaurant image">
  <div class="card-body">
    <h5 class="card-title">{{_restaurant.name}}</h5>
    <span class="card-text">({{_restaurant.lat}},</span>
    <span class="card-text">{{_restaurant.lng}})</span>
    <span class="card-text"> {{_restaurant.city}} </span>
    <div class="row">
      <div class="col-md-6">
        <a class="btn btn-primary" (click)="onMenuClick()">Menu</a>
      </div>
      <button (click)="onEdit()"> Edit</button>
    </div>
  </div>
</div>
